@font-face {
  font-family: 'LBTitle';
  src: url('/Legitbuystitlefont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LBSlogan';
  src: url('/Legitbuyssolganfont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LBCardHeader';
  src: url('/fonts/Cardheader-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LBReview';
  src: url('/fonts/Reviewtext.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LBBody';
  src: url('/fonts/Bodytext.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}